@import 'variable';
@import 'animate';

@import 'shadow';
@import 'button';
@import 'card';
@import 'dialog';
@import 'navbar';
@import 'scroll';
@import 'grid-layout';
@import 'text';

.textshadow {
  @include text-shadow($border-sub-secondary, bold);
}

.textshadow-grey {
  @include text-shadow(rgba(0, 0, 0, 1), bold);
}

.textshadow-purple {
  @include text-shadow(rgba(96, 37, 118, 1), bold);
}

.textshadow-blue {
  @include text-shadow(rgba(0, 153, 212, 1), bold);
}

.textshadow-light-gray {
  @include text-shadow(rgba(94, 90, 96, 1), bold);
}

.textshadow-green {
  @include text-shadow(rgba(6, 86, 6, 1), bold);
}

.textshadow-black {
  @include text-shadow(rgba(0, 0, 0, 1), bold);
}

.textshadow-primary {
  @include text-shadow($border-primary, bold);
}

.textshadow-secondary {
  @include text-shadow($border-secondary, bold);
}

.card-title {
  @include text-shadow($border-secondary, bold);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.grid-root {
  display: grid;
  grid-template-areas:
    'actions'
    'items';
  grid-template-columns: 1fr;
  line-height: 1;
}

.grid-container {
  display: grid;
  grid-area: items;
  grid-gap: 10px 25px;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.grid-item {
  margin-bottom: 2px;
  position: relative;
  display: grid;
  grid-template-areas:
    'actions'
    'items';
  grid-template-columns: 1fr;
  line-height: 1;
  border-radius: 15px;
  background-size: cover !important;
  background-position: center center !important;

  &:hover {
    transform: scale(1.02);
    transition: transform 100ms linear;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #cb9f9f;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: $border-secondary;
  border-radius: 10px;
}

.card-text-team {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overflow-team {
  // height: 200px;
  display: table;
  margin: 0 auto;
  overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  margin: 30px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

/* position */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
